<section ng-controller="AdminDashboard as admin">
    <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
             <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav nav-sidebar">
                  <li class="active"><a ng-click="admin.navigateToOverview()">Overview</a></li>
                  <!--Only Allow if admin-->
                  <li><a ng-click="">Users</a></li>
                </ul>
            </div><!--/span-->
            <div class="col-sm-9 col-md-10 main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-box no-header clearfix">
                                <div class="main-box-body clearfix">
                                    <div class="table-responsive">
                                        <table class="table component-list">
                                            <thead>
                                                <tr>
                                                <th class="text-center"><span>UID</span></th>
                                                <th class="text-center"><span>User name</span></th>
                                                <th class="text-center"><span>Email</span></th>
                                                <th class="text-center"><span>Password</span></th>
                                                <button class="btn btn-danger pull-right userbutton" ng-click="">Delete User</button>
                                                <button class="btn btn-primary pull-right userbutton" ng-click="admin.userButton()">Create User</button>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="obj in Home.components track by $index">
                                                    <td>
                                                        <a href="#" class="user-link" ng-bind="obj['componentName']"></a>
                                                        <span class="user-subhead" ng-bind="obj['versionName']"></span>
                                                    </td>
                                                    <td>{{obj.timeInMS | date:'medium'}}</td>
                                                    <td class="text-center">
                                                        <span class="label label-default" ng-bind="obj['stepName']"></span>
                                                    </td>
                                                    <td>
                                                        <span class="label label-default" ng-bind="obj['stepResult']"></span>
                                                    </td>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="componentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                      <div class="container">
                                                        <div class="row">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                                                            <div class="usercard" style="margin-left:250px;">
                                                                    <form>
                                                                      <form name="signUpform" id="signUpform" class="form-signup" role="form">
                                                                        <h3>Please enter the users information</h3>
                                                                        <hr>
                                                                        <br>
                                                                          <div class="form-group">
                                                                              <label for="email" class="form-label">Username:</label>
                                                                                  <input type="username" id="username" placeholder="Username" class="form-control">
                                                                          </div>
                                                                          <div class="form-group">
                                                                              <label for="password" class="form-label">Email:</label>
                                                                                  <input type="email" name="email" placeholder="Email" class="form-control">
                                                                          </div>
                                                                          <div class="form-group">
                                                                              <label for="password" class="form-label">Password:</label>
                                                                                  <input type="password" name="password" placeholder="Password" class="form-control">
                                                                          </div>
                                                                          <hr>
                                                                          <div class="form-group">
                                                                                  <button type="submit" class="btn btn-primary btn-block">Create User</button>
                                                                          </div>
                                                                      </form> <!-- /form -->
                                                                    </form>
                                                            </div>
                                                        </div>
                                                      </div>
                                                  </div>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	    </div>
    </div><!--/.container-->
</section>
