<section class="home" ng-controller="HomeController as Home">
  <h1 style="text-align: center; color: #EDEDED;">Components</h1>
    <div class="container">
        <div class="col-md-2 message" ng-repeat="obj in Home.components track by $index">
            <h3 class="cent">{{obj["componentName"]}}</h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                  <h5 class="heading"><strong><u>stepName</strong></u>: {{obj["stepName"]}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <h5 class="heading"><strong><u>timeInMS</strong></u>: {{obj["timeInMS"]}}<h5>
                </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                 <h5 class="heading"><strong><u>stepResult</strong></u>:</h5>
                 <div class="doubt" ng-show="obj.stepResult == 'doubtful'">doubtful</div>
                 <div class="good" ng-show="obj.stepResult == 'good'">good</div>
                 <div class="fail" ng-show="obj.stepResult == 'fail'">fail</div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                 <h5 class="heading"><strong><u>notes</strong></u>: {{obj["notes"]}}</h5>
               </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                <h5 class="heading"><strong><u>apiKey</strong></u>: {{obj["apiKey"]}}</h5>
              </div>
           </div>
          <hr>
            <button type="button" class="btn btn-primary btn-block">More Details</button>
        </div>
      </div>
</section>
