<section class="home" ng-controller="HomeController as Home">
  <h1 style="text-align: center; color: #EDEDED;">Components</h1>
    <div class="container">
        <div class="col-md-3 message" ng-repeat="obj in Home.components track by $index">
            <h3 class="page-header cent">Name : {{obj["componentName"]}}</h3>
            <!--<hr>
            <h5 class="heading">componentName: {{componentName}}</h5>
            <br>
            <h5 class="heading">stepName: {{stepName}}</h5>
            <br>
            <h5 class="heading">timeInMS: {{timeInMS}}</h5>
            <br>
            <h5 class="heading">stepResult: {{stepResult}}</h5>
            <br>
            <h5 class="heading">notes: {{notes}}</h5>
            <br>
            <h5 class="heading">apiKey: {{apiKey}}</h5>
            <hr>-->
        </div>
      </div>
</section>
