<section>
  <div ng-controller="LoginController as Login">
    <div class="container">
      <div class="col-md-6">
      <ng-form name="Login_Form" class="form-signin">
            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
            <br>
            <input type="text" class="form-control" name="email" ng-min="3" placeholder="Email" ng-model="Login.loginForm.email"  autofocus="" required/>
            <br>
            <input type="password" class="form-control" name="Password" ng-min="3" placeholder="Password" ng-model="Login.loginForm.password" required/>
            <br>
            <button ng-disabled="Login_Form.$invalid" class="form-height btn btn-lg btn-primary btn-block" ng-click="Login.hardAuth()" name="Submit" value="Login" type="Submit">Login</button>
            <br>
        </form>
      </div>
      </div>
  </div>
</section>
