<section id="login">
  <div class="container" ng-controller="SignupController as SignupCtrl">
            <h1 style="text-align: center; color: #EDEDED;">Registration Form</h1>
            <br>
              <form name="signUpform" id="signUpform" class="form-signup" role="form">
                <h3>Please enter your information</h3>
                <br>
                <br>
                  <div class="form-group">
                      <label for="email" class="form-label">Email</label>
                          <input type="email" id="email" placeholder="Email" ng-model="SignupCtrl.email" class="form-control">
                  <div class="form-group">
                      <br>
                      <label for="password" class="form-label">Password</label>
                          <input type="password" name="password" placeholder="Password" class="form-control" ng-model="SignupCtrl.password">
                  </div>
                  <div class="form-group">
                      <label for="password" class="form-label">Re-enter your Password</label>
                          <input type="password" name="password2" placeholder="Re-enter Password" class="form-control" ng-model="SignupCtrl.password2">
                  </div>
                  <br>
                  <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block" ng-click="SignupCtrl.signUp()">Register</button>
                  </div>
              </form> <!-- /form -->
        </div>

</section>
